body {
  font-family: Arial;
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
  width: 800px;
}

input {
  width: 98%;
  padding: 7px;
  align-items: center;
}

select{
  width: 100%;
  padding: 7px;
  align-items: center;
}

button {
  width: 100%;
  padding: 10px;
  background: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 50px;
}

.sheet {
  margin-top: 20px;
  padding: 10px;
  background: #111;
  border-radius: 10px;
}

.attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}

/* linha no meio */
.attributes::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  transform: translateX(-1px);
}

.top-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
}

/* separador no meio */
.top-info::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 50%;
  width: 2px;
  transform: translateX(-1px);
}

.field {
  display: flex;
  flex-direction: column;
}